extends layout

block content
    #app
        .section.model-ranking-view
            svg#model-ranking-vis
        .section.model-diagnosis-view
            svg#model-diagnosis-vis

    script(type='text/javascript', src='/javascripts/Constant.js')
    script(type='text/javascript', src='/javascripts/Data.js')
    script(type='text/javascript', src='/javascripts/Processor.js')
    script(type='text/javascript', src='/javascripts/d3.model-ranking.js')
    script(type='text/javascript', src='/javascripts/d3.diagnosis.js')
    //script(type='text/javascript', src='/javascripts/Constant.js')

