doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        //link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
        script(type='text/javascript', src="/lodash/lodash.min.js")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/d3/dist/d3.min.js")
        script(src="/d3-selection/dist/d3-selection.min.js")
        script(src="/d3-selection-multi/build/d3-selection-multi.min.js")
    body
        block content
