@import "variable"

*
  box-sizing: border-box

html
  background: #fff
  width: 100%
  height: 100%

#app
  width: 1920px
  height: 1080px
  background: #eee
  padding: $app-padding
  margin: auto
  .section
    width: 100%
    background: #fff
    align-content: center
    &.model-ranking-view
      height: $ranking-vis-height - $section-margin
      margin-bottom: $section-margin
    &.model-diagnosis-view
      height: calc(100% - #{$ranking-vis-height} - #{$section-margin})
      margin-top: $section-margin

svg
  &#model-ranking-vis
    width: 100%
    height: 100%
  &#model-diagnosis-vis
    width: 100%
    height: 100%



