@import "variable"

*
  box-sizing: border-box

html
  background: #fff
  width: 100%
  height: 100%

#app
  width: 1920px
  height: 1080px
  background: #eee
  padding: $app-padding
  margin: auto
  display: flex
  .left
    flex: 8
    height: 100%
    padding: $section-margin
  .right
    flex: 2
    height: 100%
    padding: $section-margin
  .section
    width: 100%
    background: #fff
    align-content: center
    &.model-ranking-view
      height: $ranking-vis-height - $section-margin
      margin-bottom: $section-margin
    &.model-diagnosis-view
      height: calc(100% - #{$ranking-vis-height} - #{$section-margin})
      margin-top: $section-margin
    &.instance-analysis-view
      height: calc(100% - #{$section-margin})
      margin-left: $section-margin

svg
  &#model-ranking-vis
    width: 100%
    height: 100%
  &#model-diagnosis-vis
    width: 100%
    height: 100%
  &#instance-analysis-vis
    width: 100%
    height: 100%



